#paris{
    background: url('../../../assets//image-png/Paris.png');
}

#london{
    background: url('../../../assets//image-png/London.png');
}

#sydney{
    background: url('../../../assets/image-png/Sydney.png');
}

#newyork{
    background: url('../../../assets/image-png/New\ York.png');
}

#newdelhi{
    background: url('../../../assets/image-png/New\ Delhi.png');
}