

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary-font: 'Nunito Sans', sans-serif; ;
  --secondary-font: 'Josefin Sans', sans-serif;
  --white-color: #FFFFFF;;
  --grey-color: #F5F2F8;
  --purple-color: #401E92;
  --darkpurple-color: #261453;
}
